<r-grid class="header" columns=8 columns-s=3>
    <r-cell span="2"><a href="<%= p(".") %>"><img src="<%= p("img/name.jpg") %>" alt="Miguel Santirso"  width="280" /></a></r-cell>
    <r-cell span="5" class="abstract"><span class="abstract-date"><%= @date.strftime('%B %-d, %Y') %></span> / <%= @abstract %></r-cell>
</r-grid>

<r-grid class="long-text">
    <r-cell span="row"><h2><%= @title %></h2></r-cell>
    <r-cell span="row"><%= md(@content) %></r-cell>
</r-grid>