<main>
	<% @games.each do |g| %>
	<% if game = g['game'] %>

	<div class="centered-fixed-width game_item">
		<img class="game_icon" src="img/games/<%= game['slug'] %>_appicon.png" alt="<%= game['title'] %> app icon." />
		<div class="game_details">
			<h3><%= game['title'] %></h3>
			<p class="game_description"><%= game['desc'] %></p>

			<p class="game_links">
				<% if (app_store = game['app_store'])%>
				<a href="<%= app_store %>"><img alt="Get <%= game['title'] %> on the App Store" src="https://linkmaker.itunes.apple.com/htmlResources/assets/en_us/images/web/linkmaker/badge_appstore-lrg.svg" /></a>
				<%end#if%>
				<% if (google_play = game['google_play'])%>
				<a href="<%= google_play %>"><img alt="Get <%= game['title'] %> on Google Play" src="img/google_play.png" /></a>
				<%end#if%>
				<% if (youtube = game['youtube'])%>
				<a href="<%= youtube %>"><img alt="Play trailer on YouTube" src="img/youtube.png" /></a>
				<%end#if%>
			</p>
		</div>

	</div>

	<% end %>
	<% end %>
</main>