
<div id="subtitle" class="centered-fixed-width">
  <%= md(@subtitle) %>
</div>

  <div id="bio" class="centered-fixed-width">
    <%= md(@bio) %>
  </div>

  <div id="featured">
    <div class="centered-fixed-width">
      <h2>Featured Projects</h2>
    </div>

    <div id="featured-items">
      <% @projects.select{|p| p['project'] && p['project']['featured_img']}.map{|p| p['project']}.each do |project| %>

      <div class="featured-item">
        <a href="<%= project['url'] %>"><img src="<%= project['featured_img'] %>" /></a>
        <a href="<%= project['url'] %>"><p><%= project['featured_title'] || project['title'] %></p></a>
      </div>
      <% end %>  
    </div>
    
  </div>

  <div id="timeline" class="centered-fixed-width">

    <h2>Project Timeline</h2>

    <div id="timeline-items">

      <% @projects.each do |p| %>

      <% if year= p['year'] %>
      <div class="timeline-item">
        <p class="timeline-date timeline-date-year"><%= year %></p>
      </div>
      <% end %>

      <% if project= p['project'] %>
      <div class="timeline-item">
        <p class="timeline-date"><%= project['date'] %></p>
        <span class="timeline-marker"></span>
        <p class="timeline-item-content timeline-item-title">
          <% if url= project[ 'url'] then %><a href="<%= url %>"><%= project['title'] %></a>
          <% else %>
          <%= project['title'] %>
          <% end %>
        </p>
        <% if desc= project['desc'] %>
        <p class="timeline-item-content"><%= desc %></p>
        <% end %>
      </div>
      <% end %>

      <% end %>

      <div class="timeline-closer"></div>

    </div> <!-- timeline items -->

  </div> <!-- timeline -->
