<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <% title = @title ? @title : "product manager and designer." %>
  <% description = @abstract ? @abstract : "" %>
  <title>Miguel Santirso &mdash; <%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="<%= p('raster.grid.css') %>" />
  <link rel="stylesheet" type="text/css" href="<%= p('main.css') %>" />
</head>

<body>

  <%= render_erb(@nb_layout) %>

  <p id="footer" class="text_small">Created with care by Miguel. Last updated <%= Time.now().strftime("%B %e, %Y") %></p>

</body>

</html>
